* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
}

.image {
  height: 30vw;
  width: 70vw;
  background-image: url(https://plus.unsplash.com/premium_vector-1744179434120-c063247daa52?q=80&w=888&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}
